<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A new Task</title>
</head>
<body>
    <form action="/edit/<%=t._id%>" method="post">
        <textarea name="body"  cols="30" rows="10"><%= t.body%></textarea>
        <button type="submit">edit</button>
    </form>
</body>
</html>