<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <a href="/create">
        Create New Task
    </a>
    <br>
    <%tasks.forEach(e =>{%>
    <ul>
        <%if(e.done){%>
        <li><s><%= e.body%></s></li>
        <%}else{%>
            <li><%= e.body%></li>
            <li><a href="/read/<%= e._id%>">Mark As Done</a></li>
            <li><a href="/edit/<%= e._id%>">Edit Task</a></li>
            <%}%>
    </ul><%})%>
</body>
</html>